.type-chart-container {
    display: flex;
    flex-direction: row;
}

.type-chart {
    display: grid;
    grid-template-columns: repeat(19, 50px);
}

.type-header {
    background-color: var(--secundary-color);
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attacker-header {
    border-right: 1px solid var(--main-bg-color);
}

.defender-header {
    border-bottom: 1px solid var(--main-bg-color);
}

.cell {
    width: 50px;
    height: 50px;
    background-color: var(--secundary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--main-bg-color);
}

.cell:hover {
    background-color: #0f5323;
    font-weight: bold;
}

.info-chart {
    margin-left: 20px;
    width: 200px;
    color: var(--text-color);
}

.type-row {
    display: contents;
}
